Load libraries

In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

load dataset

In [37]:
retail_raw = pd.read_csv("../data/retail_raw.csv")
retail_raw.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom

get inital sumary

In [38]:
before_summary = pd.DataFrame({
    "dtype": retail_raw.dtypes,
    "missing_values": retail_raw.isnull().sum(),
    "non_missing": retail_raw.notnull().sum(),
    "unique_values": retail_raw.nunique()
})
before_summary

               dtype  missing_values  non_missing  unique_values
InvoiceNo     object               0       541909          25900
StockCode     object               0       541909           4070
Description   object            1454       540455           4223
Quantity       int64               0       541909            722
InvoiceDate   object               0       541909          23260
UnitPrice    float64               0       541909           1630
CustomerID     int64               0       541909           4372
Country       object               0       541909             38

look at shape:

In [39]:
retail_raw.shape

(541909, 8)

Look at the describe:

In [40]:
retail_raw.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  541909.000000
mean        9.552250       4.611114   15287.518434
std       218.081158      96.759853    1484.746041
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   14367.000000
50%         3.000000       2.080000   15287.000000
75%        10.000000       4.130000   16255.000000
max     80995.000000   38970.000000   18287.000000

Put findings here.....